<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727742705088-vm2le1jva83em0nj4d9v8r5dp484qr6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727742705088-vm2le1jva83em0nj4d9v8r5dp484qr6n</string>
	<key>API_KEY</key>
	<string>AIzaSyD-QRwYKoqzf7zR-ZTA97R5P4_vBXgyN1E</string>
	<key>GCM_SENDER_ID</key>
	<string>727742705088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artonov.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-904b2</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-904b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727742705088:ios:d0e04e55a622eccc8f2c25</string>
</dict>
</plist>